# exclude everything
documents_downloaded/*

# exception to the rule
!documents_downloaded/.gitkeep 

*.pyc

*.cpython-34.pyc

*/__pycache__/*

experiment_outputs/*

consume.log
*.log

workspace.xml
*.gutenbergmetaclean
consume.log